<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags always come first -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="x-ua-compatible" content="ie=edge">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" type="text/css">
   <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
    <meta charset="utf-8">
    <title>webdesignpractice</title>
    <style>
      .alc {text-align: center;}
      #c1{padding-top: 0px;
      margin-top: 0px;}
      .fa{background-color: white;;
      color:blue;}
      #cpr{text-align: center;}
      }
      .fa,#cd {background-color: white;;
      color:blue;}
      #cpr{text-align: center;}
      #ft{background-color: cyan;}
      #bc {
        margin-top:10px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-dark navbar-expand-sm bg-info fixed-top">
      <div class="container">
      <div class="nav-brand"><a class="nav-link" href="index.html"><img class="image-fluid" height="80px" width="81px" src="pic/Assembly.jpg"> </a></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#colpnb">
    <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="colpnb">
      <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="index.html"><i class="fa fa-home"></i> Home</a></li>
      <li class="nav-item active"><a class="nav-link" href="aboutus.html"><i class="fa fa-info"></i> About Us</a></li>
      <li class="nav-item"><a class="nav-link" href="menu.html"><i class="fa fa-list"></i> Menu</a></li>
      <li class="nav-item"><a class="nav-link" href="contacts.html"><i class="fa fa-address-book-o"></i> Contact Us</a></li>
    </ul>
  </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
     <div id= "bc" class="col-12" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ol>
</div></div></div>
<div class="container" id="c1">
    <div class="row">
      <div class="col-12 col-sm-12">
      <h3>KCGS At a Glance</h3>
<p>This is Koso Community Grammar School, Iseyin, founded in 1976 and located along Iseyin-OdoOgun
road, Iseyin, Oyo state.<br>The current Principal is Mr. Mukaila Popoola and the current VPs
are Masters Arasi and Adefabi and a female VP Jokanola(Mrs).</p>
</div></div>
  <div class="row">
    <div class="col-12 col-sm-7">
    <div class="container"><h3>KCGS's Administrative Hierarchy</h3>
<div>KCGS maintains administrative hierarchy in the order below:<br>
</div>
<ul class="list-unstyled">
  <li>The Pricipal</li>
  <li>The Vice Pricipal(Administration)</li>
  <li>The Vice Pricipals(Academic)</li>
  <li>The Senior Teaching Staff</li>
  <li>The Junior Teaching Staff</li>
  <li>The Non-Teaching Staff Rank and File</li>
</ul>
</div></div>
<div class="col-12 col-sm-5">
  <div class="card bg-info border-right" style="width: 20rem;">
  <div class="card-body" id="cd">
    <h5 class="card-title">Facts and Figures</h5>
    <h6 class="card-subtitle mb-2">Founded in 1976</h6>
    <p class="card-text">Over 1000 students</p>
    <p class="card-text">Good Library environment with modern books</p>
    <p class="card-text">First to get Knowledge Hub in Iseyin</p>
  </div>
</div>
</div>
</div></div>
<div class="container">
  <div class="row border-top">
    <div class="col-12 col-sm-6">
      <h3>Aim</h3>
        <ul class="list-unstyled">
          <li><i class="fa fa-square fa-checked"></i> To produce robust school leavers who can compete favourably with their
            counterparts in any part of the world</li>
        </ul>
    </div>
      <div class="col-12 col-sm-6">
    <h3>Objectives</h3>
      <ul class="list-unstyled">
        <li><p><i class="fa fa-spinner fa-spin"></i> Equiping students with excellent academic skills.</p></li>
        <li><p><i class="fa fa-spinner fa-spin"></i> Building students in good character and moral.</p></li>
      </ul>
  </div>
</div>
</div>
</body>
<div id="ft">
<div class="container">
  <div class="row border-top">
    <div class="col-12 col-sm-2">
      <h5>Links</h5>
        <ul class="list-unstyled">
                  <li><a href="index.html">Home</a></li>
                      <li><a href="aboutus.html">About Us</a></li>
                      <li><a href="menu.html">Menu</a></li>
                      <li><a href="contactus.html">Contact Us</a></li>
        </ul>
    </div>
  <div class="col-12 col-sm-6">
    <h5>Address</h5>
    <h6> Our Location Address</h6>
    <p>Plot 5, Along OjaAgbe-OdoOgun road<br>Iseyin city<br>Oyo state Nigeria</p>
<a href="mailto: arbolf_pgg@yahoo.com"><i class="fa fa-envelope"></i><b>: arbolf_pgg@yahoo.com</b></a><br>
<a href="tel: +2349065608759"><i class="fa fa-phone"></i><b>:+2349065608759</b></a>
</div>
  <div class="col-12 col-sm-4 align-self-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-1 offset-1">
      <a class="btn btn-social-icon btn-facebook" href="facebook.com"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="col-12 col-sm-1 offset-1">
        <a class="btn btn-social-icon btn-twitter" href="twitter.com"><i class="fa fa-twitter"></i></a>
      </div>
    <div class="col-12 col-sm-1 offset-1">
        <a class="btn btn-social-icon btn-instagram" href="instagram.com"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="col-12 col-sm-1 offset-1">
        <a class="btn btn-social-icon btn-whatsapp" href="tel:+2349065608759"><i class="fa fa-whatsapp"></i></a>
    </div>
  </div>
</div>
</div>
</div></div></div>
<div id="cpr"><i class="fa fa-copyright"></i>2021 kcgsiseyin</div>
</html>
