{%extends 'schedule/base.html'%}
{%block body%}
    <div class=" container offset-2">
      {%if pclass%}
      <h1>Class: {{pclass.level}}{{pclass.arm}}</h1><hr>
      <h2>Details:</h2>
      <h3>Class : {{pclass.level}}</h3>
      <h3>Class Arm : {{pclass.arm}}</h3>
      <h3>ClassTeacher : {{pclass.classteacher}}</h3>
      <h3>Class Number of students : {{pclass.no_of_students}}</h3>
      <a href="{%url 'rmvclass' pclass.pk %}">
        <input type = "submit" value = "Delete" class = " btn btn-danger">
      </a><br>
      {%endif%}
      <a href ="{%url 'index'%}">Back to Homepage</a>
    </div>
    {%endblock%}
</html>
