<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>schedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
  <body>
    <div class="jumbotron bg-light pt-2">
      <div class="jumbotron-body">
        <div class="container">
          <div class="row">
          <div class="col-3 active"><a href="{%url 'index'%}">Home</a></div>
          <div class="col-3 mr-0"><a href="{%url 'aboutus'%}">About Us</a></div>
          <div class="col-3 mr-0"><a href="#">Contact</a></div>
      </div>
      </div>
    </div>

    </div>
    <div class=" container offset-2">
      {%if pclass%}
      <h1>Class: {{pclass.level}}{{pclass.arm}}</h1><hr>
      <h2>Details:</h2>
      <h3>Class : {{pclass.level}}</h3>
      <h3>Class Arm : {{pclass.arm}}</h3>
      <h3>ClassTeacher : {{pclass.classteacher}}</h3>
      <h3>Class Number of students : {{pclass.no_of_students}}</h3>
      <a href="{%url 'rmvclass' pclass.pk %}">
        <input type = "submit" value = "Delete" class = " btn btn-danger">
      </a><br>
      {%endif%}
      <a href ="{%url 'index'%}">Back to Homepage</a>
    </div>
  </body>
</html>
