{%extends 'schedule/base.html'%}
{%block body%}
<div class="container offset-2 mt-4"><a href="{%url 'logout'%}">Logout</a></div>
    <div class="container pd-2 mt-4 bg-light">
      <div class="row offset-2">
        <div class="col-12 col-sm-3 ">
          <button type="button"><a href="{%url 'askpage'%}"><h1>
            Check Student Details
          </h1></a></button>
        </div>
        <div class="col-12 col-sm-3">
          <button type="button"><a href="{%url 'askteacher'%}"><h1>
            Check Teacher Details
          </h1></a></button>
        </div>
        <div class="col-12  col-sm-3">
          <button type="button"><a href="{%url 'askclass'%}"><h1>
            Check Class Details
          </h1></a></button>
        </div>
      </div>
      <div class="container mt-5 bg-light">
        <div class="row offset-2">
          <div class="col-12  col-sm-3 ">
            <button type="button"><a href="{%url 'addstudentdetails'%}"><h1>
              Add Student
            </h1></a></button>
          </div>
          <div class="col-12  col-sm-3">
            <button type="button"><a href="getteacher"><h1>
               Add Teacher
            </h1></a></button>
          </div>
          <div class="col-12  col-sm align-self-center">
            <button type="button"><a href="{%url 'getclass'%}"><h1>
              Add Class
            </h1></a></button>
          </div>
        </div>

      </div>
      </div>
      <div class="container mt-5 bg-light">
        <div class="row">
          <div class="col-12 offset-4 col-sm-7 ">
            <button type="button"><a href="{%url 'classteacherlist'%}"><h1>
              ClassTeachers List
            </h1></a></button>
          </div>
          </div></div>
          {%endblock%}
</html>
