{%extends 'schedule/base.html'%}
{%block body%}
    <div class="offset-2">
      {%if student%}
      {%for st in student%}
      <h1>Student {{st.adm_number}}</h1><hr>
      <h2>Details:</h2>
      <h3>Surname : {{st.surname}}</h3>
      <h3>Other Names : {{st.othernames}}</h3>
      <h3>Class : {{st.presentclass.level}} {{st.presentclass.arm}}</h3>
      <h3>Classteacher : {{st.cl_teacher.classteacher.name}}</h3>
      <a href="{%url 'rmvstudent' st.pk %}" class=" btn btn-danger">Delete student</a><br>
      {%endfor%}
      {%endif%}
      <a class="btn btn-primary offset-3" href ="{%url 'index'%}">Back to Homepage</a>
    </div><br>
    {%endblock%}
</html>
