{%extends 'schedule/base.html'%}
{%block body%}
    <div class="offset-2 mt-4">
      {%if teacher%}
      {%for t in teacher%}
      <div class="mt-4">
      <h1> {{t.title}} {{t.name}}</h1>
      <h2> Teacher Details:</h2><hr>
      <h3>Name : {{t.name}}</h3>
      <h3>Staff ID : {{t.staffID}}</h3>
      <h3>Subject Being Taught : {{t.subject}}</h3>
      <h3>Administrative Role : {{t.admin_role}}</h3>
      <a href="{%url 'rmvteacher' t.pk %}">
        <input type = "submit" value = "Delete" class = " btn btn-danger"></input>
      </a>
    </div>
      {%endfor%}
      {%endif%}
      <div class="offset-3"><a href ="{%url 'index'%}">Back to Homepage</a></div>
    </div>
    {%endblock%}
</html>
